In [112]:
#Импорт модулей
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
import numpy as np

In [113]:
data = pd.read_csv('Berlin_Airquality.csv', delimiter=',', na_values = [np.nan, ' '])
print("Train data shape:", data.shape)

Train data shape: (2815, 6)

In [114]:
data.head()

        date   pm25   pm10    o3   no2   co
0  2022/12/1  104.0   32.0  11.0  12.0  NaN
1  2022/12/2   84.0   41.0   8.0   9.0  NaN
2  2022/12/3  103.0   44.0   2.0   7.0  NaN
3  2022/12/4  117.0   35.0   3.0  12.0  NaN
4  2022/12/5   89.0   21.0   4.0  10.0  NaN

In [115]:
data['time'] = pd.to_datetime(data['date'])

In [116]:
df = pd.DataFrame(data)

In [117]:
df = df.set_index('time',inplace=False)

In [118]:
df.index.names = [None]

In [119]:
df.insert(6,'AQI', 0)

In [120]:
df.head()

                 date   pm25   pm10    o3   no2   co  AQI
2022-12-01  2022/12/1  104.0   32.0  11.0  12.0  NaN    0
2022-12-02  2022/12/2   84.0   41.0   8.0   9.0  NaN    0
2022-12-03  2022/12/3  103.0   44.0   2.0   7.0  NaN    0
2022-12-04  2022/12/4  117.0   35.0   3.0  12.0  NaN    0
2022-12-05  2022/12/5   89.0   21.0   4.0  10.0  NaN    0

In [121]:
df = df.rename(columns={" pm25": "pm25", " o3": "o3", " no2": 'no2', " co2": "co2", " pm10": "pm10"})

In [122]:
df.head()

                 date   pm25  pm10    o3   no2   co  AQI
2022-12-01  2022/12/1  104.0  32.0  11.0  12.0  NaN    0
2022-12-02  2022/12/2   84.0  41.0   8.0   9.0  NaN    0
2022-12-03  2022/12/3  103.0  44.0   2.0   7.0  NaN    0
2022-12-04  2022/12/4  117.0  35.0   3.0  12.0  NaN    0
2022-12-05  2022/12/5   89.0  21.0   4.0  10.0  NaN    0